<div class="container">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img [src]="slides[currentSlide]" alt="Featured adoptable cat" style="width:100%;">
      </div>
    </div>

    <button type="button" class="left carousel-control" (click)="previous()" aria-label="Previous image">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </button>
    <button type="button" class="right carousel-control" (click)="next()" aria-label="Next image">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </button>
  </div>
</div>
