<form #form="ngForm">
<div id="wrapper">
  <!--Picture-->

  <!--Picture Preview-->
  <div id="catPiture">
    <legend>Image Preview</legend>
    <div id="holder">
      <a><img [src]="getCurrentImage()" (error)="useFallbackImage($event)" class="imagePreview" height="500" width="580" alt="Cat photo"></a>
      <div id="arrowWrapper">
        <img (click)="right()" src="assets/demo/arrow-right.svg" id="arrowRigth" height="110" width="200" alt="Next image">
        <legend id="indexNumber">{{imgIndex + 1}}</legend>
        <img (click)="left()" src="assets/demo/arrow-right.svg" id="arrowLeft" height="110" width="200" alt="Previous image">
      </div>
    </div>
  </div>

  <!--Options-->
  <div class="card" id="sadBox2">

    <div id="infoUpperHalf">

      <div id="divsWrapperLeft">
        <!--Title-->
        <legend id="titleMain">Title
          <textarea class="form-control" id="NameArea" rows="1" required [(ngModel)]="model.name" name="name" [disabled]="!canEdit"></textarea>
        </legend>

        <!--Age-->
        <legend id="ageMain">Age in years
          <input type="Number" id="AgeArea" required [(ngModel)]="model.age" name="age" [disabled]="!canEdit">
        </legend>

        <!--Number-->
        <legend id="contactMain">Contact number
          <input type="Number" id="NumberArea" required [(ngModel)]="model.contactNumber" name="contactNumber" [disabled]="!canEdit">
        </legend>

        <legend id="breedMain">Breed
          <select id="BreedArea" rows="1" required [(ngModel)]="model.breed" name="breed" [disabled]="!canEdit">
            <option *ngFor="let b of breeds" [value]="b">{{b}}</option>
          </select>
        </legend>

        <!--City-->
        <legend id="cityMain">Region
          <select id="cityArea" rows="1" required [(ngModel)]="model.city" name="city" [disabled]="!canEdit">
            <option *ngFor="let c of cities" [value]="c">{{c}}</option>
          </select>
        </legend>
      </div>

      <!--Information-->
      <legend id="info">Information
        <textarea class="form-control" id="infoArea" required [(ngModel)]="model.information" name="information" [disabled]="!canEdit"></textarea>
      </legend>
    </div>

    <div id="breedAndCity">
        <!--Castrated-->
        <div id="Castrated">Neutered
          <div class="form-check">
            <input class="form-check-input" id="castrated2" type="checkbox" value="" checked="" required [(ngModel)]="model.castrated" #castratedModel="ngModel" name="castrated" [disabled]="!canEdit">
          </div>
        </div>

        <!--Vaccinated-->
        <div id="Vaccinated">Vaccinated
          <div class="form-check">
            <input class="form-check-input" id="vaccinated2" type="checkbox" value="" checked="" required [(ngModel)]="model.vaccinated" #vaccinatedModel="ngModel" name="vaccinated" [disabled]="!canEdit">
          </div>
        </div>
    </div>

      <!--IMG Links-->
      <legend id="imgTitles">Image Links</legend>
      <legend class="imgMain"><textarea class="form-control imgLink" id="imgUrlPrimary" rows="1" required [(ngModel)]="model.imgUrl" name="imgUrl" [disabled]="!canEdit" (ngModelChange)="updateImageUrls()"></textarea></legend>
      <legend class="imgMain"><textarea class="form-control imgLink" id="imgUrlSecondary" rows="1" required [(ngModel)]="model.imgUrl2" name="imgUrl2" [disabled]="!canEdit" (ngModelChange)="updateImageUrls()"></textarea></legend>
      <legend class="imgMain"><textarea class="form-control imgLink" id="imgUrlTertiary" rows="1" required [(ngModel)]="model.imgUrl3" name="imgUrl3" [disabled]="!canEdit" (ngModelChange)="updateImageUrls()"></textarea></legend>
      <legend class="imgMain"><textarea class="form-control imgLink" id="imgUrlQuaternary" rows="1" required [(ngModel)]="model.imgUrl4" name="imgUrl4" [disabled]="!canEdit" (ngModelChange)="updateImageUrls()"></textarea></legend>

      <!--Buttons-->
      <div *ngIf="canEdit; else elseBlock" id="buttonWrapper">
        <button type="button" (click)="testFunc()" class="btn btn-success" id="changeButton">Change</button>
        <button type="button" (click)="deleteFunc()" class="btn btn-danger" id="dangerButton">Delete</button>
      </div>

      <ng-template #elseBlock id="buttonWrapper">
        <button type="button" class="btn btn-info" (click)="sendMessageFunc()" id="sendPmButton">Send Message</button>
      </ng-template>
  </div>
</div>
</form>
