<div *ngIf=isSorted() class="card" id="catCard">

  <div id="titleWrapper">
    <h3 id="name">{{cat.name}}<a *ngIf="isCreator()">&#10004;</a></h3>
  </div>

  <div id="generalWrapper">
    <!--Picture-->
    <div id="catPic">
        <div id="overlayLeft" (click)="funcMove('left')">&larr;</div>

        <img *ngIf="is1()" id="picture" src={{cat.imgUrl}} alt="Cat photo" height="200" width="260">
        <img *ngIf="is2()" id="picture" src={{cat.imgUrl2}} alt="Cat photo" height="200" width="260">
        <img *ngIf="is3()" id="picture" src={{cat.imgUrl3}} alt="Cat photo" height="200" width="260">
        <img *ngIf="is4()" id="picture" src={{cat.imgUrl4}} alt="Cat photo" height="200" width="260">

        <div id="overlayRight" (click)="funcMove('right')">&rarr;</div>
    </div>

    <!--Information-->
    <div id="wrapperInfo">
      <textarea id="information" class="form-control" rows="6">{{cat.information}}</textarea>
    </div>
  </div>

  <div id="etcWrapper">
    <div id="age">Age:<br/>{{cat.age}}</div>
    <div id="breed">Breed:<br/>{{cat.breed}}</div>
    <div id="location">Region:<br/>{{cat.city}}</div>
  </div>

  <div id="etc2Wrapper">
    <div *ngIf="isCastrated()" id="cas">Neutered</div>
    <!--Button-->
    <button type="button" id="infoButton" (click)="loadInfo()" class="btn btn-success">Details</button>
    <div *ngIf="isVaccinated()" id="vac">Vaccinated</div>
  </div>

</div>
